@import url('/assets/css/server.css');


.dev_param_list p {
      font-size: .88rem;
      color: var(--gray-700);
      margin: 0;
      padding: 0;
}


.dev_param_list p a {
      text-decoration: none;
      display: flex;
      gap: .4rem;
      align-items: center;
      font-weight: 600;
      font-size: .82rem;
}


@media (min-width: 992px) {
      .dev_param_list {
            padding-right: 14rem !important;
      }
}