@import url('/assets/css/server.css');


.dev_param_list {
      bottom: 15px;
      top: 15px;
      background-color: var(--background);
      border-radius: .9rem .9rem 0 0;
      margin: 0 .4rem;
}

.dev_param_list span {
      font-size: .86rem;
      color: var(--gray-500);
      margin: 0;
      padding: 0;
}


.dev_param_list a {
      margin-left: 2px;
      text-decoration: none;
      font-weight: 500;
      font-size: .8rem;
      color: var(--primary-color) !important;
      transition: color 0.3s ease-in-out;
}

.dev_param_list a:hover {
      text-decoration: underline;
}

.dev_param_list a i {
      margin-left: 4px;
}

.dev_param_list .txt_strong {
      font-weight: 700;
      font-size: .82rem;
      color: var(--foreground);
}


@media (min-width: 992px) {


      .dev_param_list {
            margin: 0 1.4rem;
      }


}