@import url('/assets/css/server.css');


.parameter_view_menu_card {
      padding: .5rem !important;
}


.parameter_view_menu_card button {
      font-size: .7rem !important;
}

.parameter_view_menu_card button i {
      font-size: .7rem;
}


.table-bordered {
      border: .5px solid rgba(128, 128, 128, 0.228) !important;
}

.feed_list_card {
      /* margin: 0 1.4rem; */
      background-color: var(--background);
      border-radius: .4rem .4rem 0 0;
}



@media (min-width: 992px) {

      .parameter_view_menu_card,
      .feed_list_card {
            padding: .7rem 3rem !important;
      }

      .parameter_view_menu_card button {
            font-size: .72rem !important;
      }

      .parameter_view_menu_card button i {
            font-size: .76rem;
      }

      .feed_list_card {
            /* margin: 0 1.4rem;
            background-color: var(--background);
            border-radius: .9rem .9rem 0 0; */
      }

}