@import url('/assets/css/main.css');

.menu__container {
    background-color: var(--background);
}

.menu__container ul {
    height: 3.5rem;
    position: sticky;
    bottom: 0;
}

.menu__container ul li {
    list-style: none;
    text-decoration: inherit;

}

.menu__container ul li i {
    font-size: 1.5rem;
    color: var(--gray-400);
    transition: color 0.2s ease;
}

.sidebar_active i {
    color: var(--primary-color-500) !important;
}

/* settings menu */
.setting__container,
.accounts_container {
    display: none;
    background-color: var(--background);
    top: 0;
    right: 0;
    left: 0;
    bottom: 3.5rem;
    background-color: rgba(202, 202, 202, 0.311);
    backdrop-filter: blur(1px);
    /* z-index: 9999; */
}

.accounts_container {
    bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_card {
    width: 360px;
    min-height: 25rem;
    max-height: 70dvh;
    padding: 1.2rem;
    border: .5px solid var(--primary-color-200);
}

#close_account_list {
    background-color: transparent;
    border: none;
    padding: 0px !important;

}

.account_card .account_initials {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_card .account_name {
    font-size: .9rem;
    font-weight: 600;
}

.account_card button {
    padding: 4px 1.1rem;
    border: .5px solid var(--gray-400);
    font-size: .78rem;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    /* background-color: rgba(128, 128, 128, 0.069); */
    background-color: transparent;
}

.account_card button i {
    font-size: .9rem;
}





/*  */
.setting__container ul {
    background-color: var(--background);
    border: 1px solid var(--gray-200);
    border-radius: 4px;
}

.setting__container ul a {
    text-decoration: none;
    font-size: .93rem;
    color: var(--gray-400);
    font-weight: 600;
}

.setting__container ul a i {
    font-size: 1rem;
    color: var(--primary-color);
}

.show__setting {
    display: flex;
    z-index: 100;
}






/* ✅ xl - 1200px et plus */
@media (min-width: 992px) {

    #acounts {
        align-items: end !important;
        justify-content: start !important;
        padding-bottom: 0.5rem !important;
        padding-left: 4.4rem !important;
    }

    /* .content__parent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 4.65rem;
        height: 100dvh;
        padding: 10px 0rem;
        margin-right: 2px;
        background-color: #FDFDFD;
    }

    .card__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    } */

    /* ---------------------------------- Logo ---------------------------------- */
    /* 
    .logo__content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo__content .__logo {
        width: 36px;
        height: 36px;
    } */

    /* ---------------------------------- Menu ---------------------------------- */

    /* .side__left__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */

    /* -------------------------------- Top Menu -------------------------------- */

    /* .side__left__content .top__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
        padding-top: 2rem;
    } */

    /* .top__menu a {
        font-size: 1.4rem;
        cursor: pointer;
        color: var(--icon-color);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        text-decoration: none;

    } */



    /* ------------------------------- Button menu ------------------------------ */
    /* .button__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1.5rem;
    }

    .button__card .button_card__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .4rem;
    }

    .button_card__menu a {
        font-size: 23px;
        cursor: pointer;
        color: var(--icon-color);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        text-decoration: none;
    }

    .button_card__menu a :hover {
        color: var(--primary-color);
        opacity: 1;
        background-color: var(--body-background);
        height: 38px;
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    } */


    /* --------------------------------- profile -------------------------------- */

    /* .profile__button {
        position: relative;
        width: 40px;
        height: 40px;
        color: #4b5563;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        padding-left: 10px;
        padding-right: 10px;
        border: .1px solid var(--border);
        border-radius: 100%;
        overflow: hidden;
        background-color: var(--background);

    } */

    /* Ligne bleue */
    /* .profile__button .line {
        color: #374151;
        height: 0.25rem;
        width: 100%;
        background-color: #60a5fa;
    } */

    /* Conteneur centré */
    /* .profile__button .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    } */

    /* Conteneur des éléments centraux */
    /* .profile__button .center {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    /* Petit bloc bleu */
    /* .profile__button .box {
        color: #374151;
        height: 0.625rem;
        width: 0.275rem;
        background-color: #60a5fa;
    } */

    /* .profile__card .__singe {
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        right: 2px;
        top: 1px;
        background-color: #FFBB00;
    } */
}