@import url('/assets/css/main.css');

.menu__container {
    background-color: var(--background);
}

.menu__container ul {
    height: 3.5rem;
    position: sticky;
    bottom: 0;
}

.menu__container ul li {
    list-style: none;
    text-decoration: inherit;

}

.menu__container ul li i {
    font-size: 1.5rem;
    color: var(--gray-400);
    transition: color 0.2s ease;
}

.sidebar_active i {
    color: var(--primary-color-500) !important;
}

/* settings menu */
.setting__container,
.accounts_container {
    display: none;
    background-color: var(--background);
    top: 0;
    right: 0;
    left: 0;
    bottom: 3.5rem;
    background-color: rgba(202, 202, 202, 0.311);
    backdrop-filter: blur(1px);
}

.accounts_container {
    bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_card {
    width: 360px;
    min-height: 25rem;
    max-height: 70dvh;
    background-color: var(--background);
    padding: 1.2rem;
    border: .5px solid var(--background-2);
}

#close_account_list {
    background-color: transparent;
    border: none;
    padding: 0px !important;

}

.account_card .account_initials {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_card .account_name {
    font-size: .9rem;
    font-weight: 600;
}

.account_card button {
    padding: 4px 1.1rem;
    border: .5px solid var(--gray-400);
    font-size: .78rem;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
}

.account_card button i {
    font-size: .9rem;
}





/*  */
.setting__container ul {
    background-color: var(--background);
    border: 1px solid var(--gray-200);
    border-radius: 4px;
}

.setting__container ul a {
    text-decoration: none;
    font-size: .93rem;
    color: var(--gray-400);
    font-weight: 600;
}

.setting__container ul a i {
    font-size: 1rem;
    color: var(--primary-color);
}

.show__setting {
    display: flex;
    z-index: 100;
}






@media (min-width: 992px) {
    #acounts {
        align-items: end !important;
        justify-content: start !important;
        padding-bottom: 0.5rem !important;
        padding-left: 4.4rem !important;
    }
}

/*-------------DARK MODE------------------*/

@media (prefers-color-scheme: dark) {
    .dark-mode .menu__container,
    .dark-mode nav {
        background-color: var(--background);
        /* or use a darker var like --gray-900 */
    }

    .dark-mode .menu__container ul li i {
        color: var(--gray-500);
        /* slightly lighter in dark mode */
    }

    .dark-mode .account_card {
        border-color: var(--primary-color-700);
        background-color: var(--gray-900);
        color: var(--gray-100);
    }

    .dark-mode .account_card button {
        border-color: var(--gray-500);
        color: var(--gray-100);
    }
}