@import url("/assets/css/server.css");

.server_list_label {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
}

.server_list_label span {
      background-color: var(--background);
      border-radius: .9rem;
      border: .5px solid var(--primary-color-100);
      font-size: .8rem;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
}

.server_list_label span i {
      font-size: .9rem;
      color: var(--primary-color);
}

.server_list_container {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.server_list_container::before {
      display: inline-flex;
      content: "";
      border: 1px solid var(--primary-color-200);
      border-radius: 4px;
      width: .2px !important;
      height: 50px;
}

.server_list_card {
      background-color: var(--background);
      border-radius: .4rem;
      font-size: .8rem;
      border-width: .5px !important;
      width: 96% !important;
}

.server_list_card .left_card {
      /* background-color: aqua; */
      border-right: .5px solid var(--gray-200);
}

.profile_top_card {
      border-bottom: .5px solid var(--gray-200);
}


.right_card:hover .prtop_actions {
      display: flex !important;
      transition: ease-in-out 0.5s;
}

.prtop_actions button {
      border: .5px solid var(--gray-200);
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center !important;
      background-color: transparent;
      border-radius: 5px;
      transition: ease-in-out 0.5s;
}

.prtop_actions button i {
      font-size: .8rem;
}

.prtop_actions i {
      font-size: .92rem !important;
}

.server_list_card .left_card i {
      font-size: 1.4rem;
}


.bottom_card_container {
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-bottom: .5rem;
}

.bottom_card_container_label {
      font-weight: 600;
      font-size: .82rem;
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--gray-500);
}

.bottom_card_container_label i {
      font-size: .96rem;
}

.bottom_card_container_value {
      font-weight: 500;
      font-size: .87rem;
}

@media (min-width: 992px) {


      .compose_container {
            bottom: 3rem;
      }

      .parameter_view_menu_card {
            /* background-color: rebeccapurple; */
            padding: .5rem 6.5rem !important;
      }


}